html{
    min-height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a9877 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    min-height: 100%;
    color: #fff;
}
h1 {
    font-weight: 400;
    text-align: center;
}
h2 {
    text-align: center;
}

.titulo{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 80px;
    margin: 20px 0 40px 0;
    letter-spacing: 8px;
}

.contenido {
    /* background-color: white; */
    max-width: 1100px;
    margin:  0 auto;
    height: 100%;
    padding: 20px;
}


@media (min-width: 768px) {
    .titulo{
        font-size: 100px;
    }
    .contenedor {
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor > div {
        flex: 1 0 50%;
    }

    form{
        margin-top: 50px;
    }

    .input {
        flex-direction: row !important;
        margin-top: 0 !important;
    }

    .input label {
        flex: 0 0 120px;
        text-align: right;
    }

    .input input[type="text"] {
        padding: 1rem !important;
    }

    .input input[type="submit"]{
        margin:0;
    }

    .letra-resultado h2{
        margin-top: 0 !important;
    }
}
.formulario-busqueda p {
    text-align: center;
}
.formulario-busqueda span {
    color: red;
}

form{
    margin-top: 50px;
}

input{
    border-radius: 5px;
}

.input {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input:last-child{
    margin-top: 0;
}
.input label {
    /* flex: 0 0 120px; */
    text-align: right;
    margin-right: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.input span {
    color: red;
}
.input input[type="text"] {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    flex: 1;
}
.enviar {
    text-align: right;
    justify-content: flex-end!important;
}
.input input[type="submit"]{
    background-color: #6f86d6;
    margin: 20px auto 0 auto;
    padding: .5rem 2rem;
    color: white;
    align-self: flex-end;
    border:none;
    transition: background-color .3s ease-in-out;
} 
.input input[type="submit"]:hover {
    cursor: pointer;
    background-color: #384e9d;
}

.error {
    padding: 1rem;
    border: 2px solid red;
    border-radius: 5px;
    background-color: rgb(255, 68, 68);
    color: white;
    text-align: center;
}

.letra-resultado h2{
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 3rem;
}

#resultado {
    text-align: center;
    white-space: pre-line;
    padding: 2rem;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #eeeeee;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }